body {
background: url("images/cloud.jpg") no-repeat center / cover;
min-height: 100vh;
}


input {
    width: 70px;
}

table {
    margin: 0 auto;
    justify-items: center;
}

#addItem,
#totalQty,
#totalPrice {
    text-align: center;
    margin: 0 auto;
}


